{#- https://www.debian.org/doc/manuals/maint-guide/dreq.en.html#control -#}
{#- https://www.debian.org/doc/debian-policy/ch-relationships.html -#}
Source: {{ cookiecutter.source }}
Section: utils
Priority: optional
Maintainer: ALA Development Team <support@ala.org.au>
Uploaders: {{ cookiecutter.maintainer_name }} <{{ cookiecutter.maintainer_email }}>
Build-Depends:
 debhelper (>= {{ cookiecutter.debhelper }}),
 default-jdk
Standards-Version: {{ cookiecutter.standards_version }}
Homepage: {{ cookiecutter.upstream_url }}
Vcs-Browser: {{ cookiecutter.upstream_url }}
Vcs-Git: {{ cookiecutter.upstream_url }}.git

Package: {{ cookiecutter.package }}
Architecture: all
Depends: ${misc:Depends}, default-jre-headless | java8-runtime-headless
{%- if cookiecutter.tomcat != "no" %}, tomcat7, libtcnative-1{%- endif %}
{%- if cookiecutter.mysql != "no" %}, mysql-server-5.7, python-mysqldb{%- endif %}
{%- if cookiecutter.postgresql_version != "no" %}, libpq-dev, python-psycopg2, postgresql-{{postgresql_version}}, postgresql-contrib-{{postgresql_version}}{%- endif %}
{%- if cookiecutter.postgis_version != "no" %}, postgresql-{{postgresql_version}}-postgis-{{postgis_version}}, postgresql-{{postgresql_version}}-postgis-{{postgis_version}}-scripts, gdal-bin{%- endif %}
{%- if cookiecutter.mongodb != "no" %}, mongodb-org-shell, mongodb-org-server, python-pip{%- endif %}
{%- if cookiecutter.webserver != "no" %}
Suggests: apache2 | nginx
{%- endif %}
Description: The {{ cookiecutter.short_description }} application
 .
 This package contains the {{cookiecutter.package}} package from
 Atlas of Living Australia.
