{#- https://www.debian.org/doc/manuals/maint-guide/dreq.en.html#control -#}
{#- https://www.debian.org/doc/debian-policy/ch-relationships.html -#}
Source: {{ cookiecutter.source }}
Section: utils
Priority: optional
Maintainer: ALA Development Team <support@ala.org.au>
Uploaders: {{ cookiecutter.maintainer_name }} <{{ cookiecutter.maintainer_email }}>
Build-Depends:
 debhelper (>= {{ cookiecutter.debhelper }}),
 default-jdk
Standards-Version: {{ cookiecutter.standards_version }}
Homepage: {{ cookiecutter.upstream_url }}
Vcs-Browser: {{ cookiecutter.upstream_url }}
Vcs-Git: {{ cookiecutter.upstream_url }}.git

Package: {{ cookiecutter.package }}
Architecture: all
Depends: ${misc:Depends}, openjdk-8-jdk, ca-certificates
{%- if cookiecutter.tomcat != "no" %}, tomcat7, libtcnative-1{%- endif %}
{%- if cookiecutter.mysql != "no" %}, mysql-server-5.7, python-mysqldb{%- endif %}
{%- if cookiecutter.mysql != "no" %}, dbconfig-mysql | dbconfig-no-thanks{%- endif %}
{%- if cookiecutter.postgresql_version != "no" %}, libpq-dev, python-psycopg2, postgresql-{{ cookiecutter.postgresql_version }}, postgresql-contrib-{{ cookiecutter.postgresql_version }}{%- endif %}
{%- if cookiecutter.postgresql_version != "no" %}, dbconfig-pgsql | dbconfig-no-thanks{%- endif %}
{%- if cookiecutter.postgresql_version != "no" %}, python-pycurl, libpq-dev{%- endif %}
{%- if cookiecutter.postgis_version != "no" %}, postgresql-{{ cookiecutter.postgresql_version }}-postgis-{{ cookiecutter.postgis_version }}, postgresql-{{ cookiecutter.postgresql_version }}-postgis-{{ cookiecutter.postgis_version }}-scripts, gdal-bin{%- endif %}
{%- if cookiecutter.postgresql_version != "no" %}, python-pycurl, libpq-dev{%- endif %}
{%- if cookiecutter.mongodb != "no" %}, mongodb-org-shell, mongodb-org-server, python-pip{%- endif %}
{%- if cookiecutter.webserver != "no" %}
Suggests: apache2 | nginx
{%- endif %}
Description: The {{ cookiecutter.short_description }} application
 This package contains the {{cookiecutter.package}} package from
 Atlas of Living Australia, Free and open source IT infrastructure
 for the aggregation and delivery of biodiversity data.
 .
 More info about this module.
