#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

export PYBUILD_NAME={{ cookiecutter.package }}

%:
	dh $@ --with python2,python3,sphinxdoc --buildsystem=pybuild

override_dh_auto_build:
	dh_auto_build
	PYTHONPATH=. sphinx-build -b html -d {{ cookiecutter.sphinx_root }}/.build/.doctrees -N {{ cookiecutter.sphinx_root }} {{ cookiecutter.sphinx_root }}/.build/html
